/* Bebas Neue, Montserrat, Inter, Roboto */

html {
    box-sizing: border-box;
   }
   html:focus-within {
    scroll-behavior: smooth;
   }
   *,
   *::before,
   *::after {
    box-sizing: inherit;
   }




:root {
    --clr-primary: #EC4E20;
    --clr-dark: #0A3641;
    --clr-light: #FBF5F3;
    --ffam-titles: 'Bebas Neue';
    --fw-titles-primary: 400;
    --fw-titles-bold: 600;

    --ffam-body: 'Montserrat';
    --fw-body-primary: 300;
    --fw-body-regular: 400;
    --fw-body-bold: 700;

    --gird: 1fr;
}   



a {
    text-decoration: none;
    
}



body {
    margin: 0;
    background-color: var(--clr-light);
    font-family:'Montserrat', sans-serif;
    font-size: 1.125rem;
}




header {
    display: flex;
    position: sticky;
    z-index: 51;
    justify-content: space-between;
    background-color: var(--clr-light);
    padding: 0em 1em 0em 1em;
    text-align: center;
    min-height: 75px;
    left: 0px;
    top: 0px;
}



.logo {
    align-items: center;
    justify-content: center;
    position: relative;
    width: 122px;
    height: 65px;
    
    
}




.hamburger-icon, .cart-icon {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
        
    
}

.fas {
    font-weight: 900;
    font-size: 27px;
}




.nav {
    text-align: start;
    top: 75px;
    left: 0;
    width: 100%;
    
    
}


.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0px 25px;
    list-style-type: none;
    font-family: var(--ffam-body);
    font-weight: var(--fw-body-regular);
    line-height: 75px;
    background: var(--clr-light);
    
    


}

.list-item {
    border-bottom: solid 1px;
    
}


.nav , .sign-up , .login , #menu-checkbox, #cart-checkbox {
    display: none;
}



#menu-checkbox:checked ~ .nav {
    display: block;
    position: absolute;
}



.nav-link {
    text-decoration: none;
    color: var(--clr-dark);
}

.active {
    color: var(--clr-primary);
}










/* Landing Page */




.main {
    margin: 0;
    padding: 5em 0em 1rem 0em;

    color: var(--clr-light);
}


.main-home {
    margin: 0;
    color: var(--clr-light);
    background: linear-gradient(rgba(10, 54, 65, 0.3), rgba(10,54,65,0.6)), url(../images/home-hero-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--clr-dark);
    background-position-x: center;
    background-position-y: right;
    
}

.main-title {
    color: var(--clr-light);
    padding-top: .5em;
    font-weight: var(--fw-titles-primary);
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    letter-spacing: .12em;
    margin: 0;
}

.main-intro {
    color: var(--clr-light);
    margin: 0;
    padding-top: 4.5em;
    padding-bottom: 5.3em;
    font-weight: var(--fw-body-primary);
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: .04em;
}





#top {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1.25rem;
    margin-bottom: .75rem;
}

#top a {
    text-decoration: none;
    color: var(--clr-light);
    
}


#arrow-down-svg {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.main-home .arrow-down {
    justify-content: center;
    
}



.best-sellers {
    display: flex;
    justify-content: center;
    font-weight: var(--fw-body-regular) ;
    font-size: 2.25rem;
    color: var(--clr-dark);
    background-color: var();
}

.product-spotlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10em 0em 10rem 0em;
    background: linear-gradient(rgba(10, 54, 65, 0.3), rgba(10,54,65,0.3)), url(../images/skiing-bg-img.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    
}


.faux-jacket-card {
    
    width: 294px;
    height: 429px;
    left: 0px;
    top: 0px;

    background: rgba(236, 78, 32, 0.8);
    border-radius: 20px;

}

.white-bg {
    position: relative;
    width: 253px;
    height: 311px;
    left: 20px;
    top: 30px;
    
    background: var(--clr-light);
    border-radius: 20px;
}

.jacket1-img {
    position: relative;
    width: 228.37px;
    height: 275px;
    left: 13px;
    top: 18px;

}

.product-title {
    position: relative;
    width: 83px;
    height: 24px;
    left: 19px;
    top: 45px;
    text-decoration: none;
    

    font-family: var(--ffam-body);
    font-weight: var(--fw-body-bold);
    font-size: 20px;
    line-height: 24px;
    color: var(--clr-light);
}

.price-tag {
    position: relative;
    width: 40px;
    height: 24px;
    left: 220px;
    text-decoration: none;


    font-family: var(--ffam-body);
    font-weight: var(--fw-body-bold);
    font-size: 20px;
    line-height: 24px;
    color: var(--clr-light);
}

.see-all-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150px;

    color: var(--clr-light);

    text-decoration: none;

    border: solid 4px;
    border-color: var(--clr-primary);
    border-radius: 20px;
    background-color: var(--clr-primary);
    padding: .5em 1.25em;
    margin-top: 8em;
}

.see-all-btn:hover {
    background-color: #e9eef1;
    color: var(--clr-primary);
}










/* Browse Page */




.title-container{
    display: flex;
    margin-top: 24px;
}


.browse-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    padding-left: 48px;
    gap: 16px;

    position: relative;
    width: 390px;
    height: 86px;

    

    background: #FBF5F3;
}

.browse-title h1{
    font-size: 3rem;
    font-family: var(--ffam-titles);
    font-weight: var(--fw-titles-primary);
    line-height: 58px;
    letter-spacing: 0.13rem;

    color: var(--clr-dark);
}

.body-container {
    border-bottom: solid 2px var(--clr-dark);
}

.browse-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    padding-left: 48px;
    padding-right: 48px;
    gap: 16px;

}

.browse-body p {
    
    font-size: 1.4rem;
    font-family: var(--ffam-body);
    font-weight: var(--fw-body-primary);
    line-height: 29px;
    letter-spacing: 0.13rem;

    color: var(--clr-dark);
}

.browse-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 7rem;
    
}

.product-item {
    
    
    position: relative;
    width: 151px;
    height: 180px;
    left: 32px;
    top: 58px;

    background: #EC4E20;
    border-radius: 10px;
}

.m-white-bg {
    position: relative;
    width: 133px;
    height: 135px;
    left: 9px;
    top: 8px;

    background: var(--clr-light);
    border-radius: 5px;
}

.jacket1-m-img {
    position: relative;
    width: 110px;
    height: 132px;
    left: 12px;
    top: 2px;
}

.product-title-m {
    
    position: relative;
    font-size: 1rem;
    line-height: 20px;

    padding-left: 10px;

    font-weight: var(--fw-body-bold);
    color: var(--clr-light);
}

/* .price-tag-m {
    position: relative;
    

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    
} */

.next-page-container {
    display: flex;
    position: relative;
    width: 390px;
    height: 98px;
    left: 0px;
    
}

.next-page-btn {
    
    position: absolute;
    width: 141px;
    height: 53px;
    left: 206px;
    top: 0px;

    border: 3px solid var(--clr-primary);
    border-radius: 26px;
}

.next-page-btn p {
    text-align: center;
    margin: 0;
    padding-top: .8rem;

    
}








/* Faux Product Page */



.faux-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    padding-left: 48px;
    gap: 16px;

    position: relative;
    width: 390px;
    height: 86px;

    

    background: #FBF5F3;
}

.faux-title h1{
    font-size: 3rem;
    font-family: var(--ffam-titles);
    font-weight: var(--fw-titles-primary);
    line-height: 58px;
    letter-spacing: 0.13rem;

    color: var(--clr-dark);
}



.p-page-price p { 
    position: relative;
    width: 55px;
    height: 29px;
    left: 48px;
    top: 7px;
    
    font-family: var(--ffam-body);
    font-weight: var(--fw-body-bold);
    font-size: 24px;
    line-height: 1.5rem;

    margin: 0;
    
    color: var(--clr-dark);
}

.content-container {
    display: flex;

    position: relative;
    width: 320px;
    height: 360px;
    left: 0px;
    margin-top: 40px;
    
}

.prod-img-container {
    display: flex;
    position: relative;
    width: 294px;
    height: 325px;
    left: 48px;
    top: 14px;
    
    background: var(--clr-primary);
    border-radius: 10px;
}


.prod-img-bg {
    justify-content: center;
    position: relative;
    width: 267px;
    height: 271px;
    left: 13px;
    top: 12px;
    
    background: var(--clr-light);
    border-radius: 10px;
}

.faux-img {
    position: relative;
    width: 200px;
    height: 242px;
    left: 34px;
    top: 15px;
}


.prod-desc-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    padding: 24px 48px 24px 48px;
    
}

.prod-desc-container h3 {
    color: var(--clr-dark);
}

.prod-desc-body {
    color: var(--clr-dark);
}


.size-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* padding: 0px 42px 24px 42px; */
}

.size-btn-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;

}

.size-title {
    display: flex;
    margin-left: 48px;
    color: var(--clr-dark);
}

.size-btns {

    position: relative;
    width: 88px;
    height: 45px;
    
    
    
    background: #FBF5F3;
    border: 2px solid var(--clr-dark);
    border-radius: 50px;
}

.size-btns p {
    text-align: center;
    margin: 0;
    margin-top: 10px;
    font-family: var(--ffam-body);
    font-weight: var(--fw-body-bold);
}

.cta-container {
    display: flex;
    justify-content: center;

    margin: 48px 0px 48px 0px;
    
}

.cta-bg {
    display: flex;
    justify-content: center;
    position: relative;
    width: 254px;
    height: 51px;
    
    
    
    background: var(--clr-primary);
    border-radius: 63px;
}

.cta-text p {
    justify-content: center;
    margin-top: 15px;

    color: var(--clr-light);
    font-family: 'Inter';
    font-weight: 700;
    line-height: 19.36px
}









/* Contact Us Page */

.form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 58px;
    
}

.form-container label {
    color: var(--clr-dark);
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;

}

.form__input {
    display: block;
    
    
}

form{
    margin: 0;
    padding: 2rem 2rem 0rem 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size:x-large ;
    font-weight: 400;
    
}

input[type="text"]{
    width: 250px;
    padding: 1vh;
    gap: 1vh;
    font-size: large;
    border-radius: 5px;
    
    
    
}

input[type="message"]{
    width: 300px;
    padding: 0rem 0rem 12rem 0rem;
    gap: 1vh;
    font-size: large;
    border-radius: 5px;
    flex-wrap: wrap;

}

input[type="email"]{
    width: 250px;
    padding: 1vh;
    gap: 1vh;
    font-size: large;
    border-radius: 5px;
}

input[type="tel"]{
    width: 250px;
    padding: 1vh;
    gap: 1vh;
    font-size: large;
    border-radius: 5px;
}


label[for="name"]{
    padding-top: 24px;
}

.submit-bg {
    display: flex;
    justify-content: center;
    position: relative;
    width: 294px;
    height: 50px;
    
    background: var(--clr-primary);
    border-radius: 40px;
}

.submit-text {
    position: relative;
    
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    
    color: var(--clr-light);
}

.submit-text p {
    
    justify-content: center;
    margin: 0;
    padding-top: 12px;
}












/* About Us Page */


.about-title {
    color: var(--clr-light);
    padding-top: 1.5em;
    padding-bottom: 6em;
    font-weight: var(--fw-titles-primary);
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    letter-spacing: .12em;
    margin: 0;
}





.about-container {
    margin: 0;
    color: var(--clr-light);
    background: linear-gradient(rgba(10, 54, 65, 0.3), rgba(10,54,65,0.6)), url(../images/about-us-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--clr-dark);
    background-position-x: center;
    background-position-y: right;
    
}




.slogan-info div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
    
    
}

.slogan-info h2 {
    
    
    font-family: var(--ffam-body);
    font-weight: var(--fw-body-bold);
    font-size: 2.1rem;
    line-height: 49px;
    text-align: center;
    
    color: #0A3641;
    
}


.about-intro {
    display: flex;
    flex-wrap: wrap;
    padding-left: 48px;
    padding-right: 48px;
    
    

}


.about-intro p {
    justify-content: center;
    font-family: var(--ffam-body);
    font-weight: var(--fw-body-regular);
    font-size: 1rem;
    line-height: 24px;
    padding-left: 24px;
    padding-right: 24px;
    
    
    color: var(--clr-dark);

}

.review-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 48px;
    padding-right: 48px;
}

.review-title1 h3 {
    position: relative;
    
    
    font-family: var(--ffam-body);
    font-weight: var(--fw-body-bold);
    font-size: 32px;
    line-height: 39px;
    
    color: var(--clr-dark);
    
}

.review-img-container {
    position: relative;
    width: 274px;
    height: 433px;
    
    
    background: var(--clr-light);
    border-radius: 53px;
}

.review-img-container img {
    border-radius: 53px;
}

.quote-man p {
    font-family: var(--ffam-body);
    font-weight: 600;
    font-style: italic;
    font-size: 30px;
    line-height: 37px;

    margin: 0;
    padding-bottom: 10px;
    
    color: var(--clr-dark);
}

.end-quote-man {
    font-family: var(--ffam-body);
    font-weight: var(--fw-body-regular);
    font-size: 1.5rem;
    line-height: 37px;

    margin: 0;
    
    color: var(--clr-dark);
}


.review-img-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}


.review-img-container2 img {
    border-radius: 50%;
    margin-bottom: 24px;
    width: 274px;
    
}


.quote-woman p {
    font-family: var(--ffam-body);
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
    line-height: 24px;

    margin: 0;
    padding-bottom: 10px;
    
    color: var(--clr-dark);
}

.end-quote-woman {
    font-family: var(--ffam-body);
    font-weight: var(--fw-body-regular);
    font-size: 1.3rem;
    line-height: 24px;

    margin: 0;
    
    color: var(--clr-dark);
}



.star-review {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0rem 3rem 0rem;

}





/* Footer  */


footer {
    background-color: var(--clr-primary);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer li a {
    color: var(--clr-light);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    padding: 5px;
    
}

#bottom {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

#bottom a {
    text-decoration: none;
    color: var(--clr-light);
    text-transform: uppercase;
    font-weight: var(--fw-body-bold);

}

.arrow-up {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

    max-width: 25.51px;
    max-height: 13.69px;

   
}



#arrow-up-svg {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.footer-nav {
    flex-direction: column;
    justify-content: center;
    
}




.brandname {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
}

h2 {
    text-transform: uppercase;
}

ul {
    margin: 0;
    padding: 0;
}




.nav-list-footer, .nav-link-footer {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    margin: 0;
}





h1 {
    font-family: 'Bebas Neue', Arial, sans-serif;
}

p {
    font-family: 'Montserrat', Arial, sans-serif;
}



.copyright {
    margin-top: 10px;

    color: var(--clr-light);
    font-weight: var(--fw-body-regular);
    font-size: 15px;
    text-align: center;
    
}



@media (min-width: 700px) {


    header {
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        padding: 1em;
        
        
        
    }


    .main-home {
        
        
    }

    .main-title{

        padding-top: 60px;
        padding-bottom: 50px;
    }


    .main-intro {
        margin: 0;
        justify-content: center;
        align-items: center;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        letter-spacing: 0.156em;
        flex-wrap: wrap;
        
    }


    #top {
        padding-top: 103px;
        
    }



    .nav {
        display: flex;
        flex: 1;
        position: static;
        flex-direction: column;
        justify-content: center;
        width: auto;
        text-align: start;
        
    }
    


    .logo {
        display: flex;
        position: relative;
        max-height: 76px;
        max-width: 141px;
        
    }


    

    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 0px;
        margin: 0;
        list-style-type: none;
        font-family: var(--ffam-body);
        font-weight: var(--fw-body-regular);
        line-height: 24px;
        
        
    }
    

    .list-item {
        border-bottom: none 1px;
        
    }


    .sign-up , .login {
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: var(--clr-dark);
        text-decoration: none;
    
    }





    .login {
        font-family: 'Inter', sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        

        color: var(--clr-light);

        text-decoration: none;

        border: solid 3px;
        border-color: var(--clr-primary);
        border-radius: 10px;
        background-color: var(--clr-primary);
        padding: .5em 1.25em;
        
        
    }


    .login:hover {
        color: var(--clr-primary);
        background-color: var(--clr-light);
        line-height: 19.36px;
        
        
    }



    .sign-up {
        margin-right: 10px;
    }




    .hamburger-icon {
        display: none;
    }

    .cart-icon {
        display: none;
    }




    /* Browse Page */

    .browse-section {
        flex-grow: 1;
        flex-basis: 1;
    }




    /* Faux Product Page */

    .faux-title {
        justify-content: space-evenly;
    }












    .copyright {
        text-align: start;
    }
}